<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form action="/users/create" method="post">
    <input name="username" type="text"/>
    <input name="password" type="password"/>
    <input name="submit" type="submit" value="注册"/>
</form>
</body>
</html>
